.chatbot-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.chat-input-container {
  display: flex;
  gap: 8px;
  margin-bottom: 30px;
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
}
.chat-input {
  flex-grow: 1;
  padding: 12px 15px;
  font-size: 15px;
  border-radius: 10px;
}
.chat-send-button {
  background-color: rgb(25, 135, 84);
  padding: 12px 15px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
  margin-bottom: 16px;
}
.chat-message-robot {
  display: flex;
  align-items: start;
  margin-bottom: 16px;
}
.chat-message-profile {
  width: 45px;
}
.chat-message-text {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 50%;
  margin-right: 8px;
  margin-left: 8px;
}
.chat-message-container {
  margin-top: 16px;
  flex-grow: 1;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
